.feed {
  flex: 0.55;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 0px 20px;
}

.feed_header > h2 {
  font-size: 20px;
  font-weight: 700;
}

.feed::-webkit-scrollbar {
  display: none;
}

.inputFile {
  display: none;
}

.tweetbox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetbox > form {
  display: flex;
  flex-direction: column;
}
