.profile {
  flex: 0.6;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.profile::-webkit-scrollbar {
  display: none;
}

.profile_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 5px 20px;
  display: flex;
}

.profile_header > h2 {
  font-size: 20px;
  font-weight: 700;
}
.profile_cover {
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}
.profile_usercard > img {
  width: 600px;
}
.profile_flex_avatar {
  display: flex;
  justify-content: space-between;
}

.profile_avatar {
  width: 125px !important;
  height: 125px !important;
  position: relative;
  margin-top: -65px;
  margin-left: 20px;
  border: 2px solid white;
}
.profile_editButton {
  background-color: white;
  color: var(--twitter-color) !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  border: 1px solid var(--twitter-color) !important ;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  margin-top: 10px !important;
  margin-right: 10px !important;
}

.profile_description {
  margin-left: 30px;
}

.profile_description > h3 {
  margin-bottom: 0px;
}

.editProfile_modal {
  width: 500px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.profile_options > ul > li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 28px 10px 30px;
  color: gray;
}
.profile_options > ul > li:hover {
  color: rgba(29, 161, 242, 1);
  background-color: rgb(29 161 242 / 10%);

  cursor: pointer;
}

.profile_options > ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  border-bottom: 1px solid var(--twitter-background);
}

.profile_options .active {
  color: rgba(29, 161, 242, 1);
  border-bottom: 2px solid rgba(29, 161, 242, 1);
}

.profile_follows {
  color: grey;
}

.followers {
  margin-left: 10px;
}
