.login {
  height: 100vh;
  display: flex;
}

.login_left {
  background-color: rgb(113, 201, 248);
  width: 50%;
  height: 100vh;
  background-image: url("https://www.lter-europe.net/document-archive/image-gallery/albums/logos/TwitterLogo_55acee.png/image");
  background-position: 10%;
  background-size: 200%;
}

.login_leftText {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.login_leftTextall {
  margin: 0;
  position: absolute;
  width: 500px;
  top: 45%;
  left: 50%;
  height: 200px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-120%, -50%);
}

.login_right {
  position: relative;
}

.form_right {
  margin: 0;
  position: absolute;
  width: 500px;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(40%, -50%);
}

.register_button {
  background-color: rgb(29, 161, 242);
  margin-bottom: 15px;
  min-height: 39px;
  outline-style: none;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 9999px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  width: 400px;
}
.register_button:hover {
  background-color: #1989ce;
}

.login_button {
  background-color: white;
  margin-bottom: 15px;
  min-height: 39px;
  outline-style: none;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  border-color: rgb(29, 161, 242);
  border-radius: 9999px;
  color: rgb(29, 161, 242);
  font-size: 15px;
  font-weight: 700;
  width: 400px;
}

.button_class {
  margin-top: 25px;
}
